{% load static %}

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre mí</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">
                Mi nombre es Cristian Alvarez, soy recien egresado de ingenierio en informatica, con gusto en el desarrollo de sistemas ayuden a mejorar los procesos de las empresas.
                <br>
                <br>
                Tengo un particular interes por los datos, me llama la atencion el manejo de los datos, analizarlos y procesarlos para extraer conocimientos e información.
            </p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">
                El desarrollo de sistemas y los datos es mi actual interes profesional:
                <ul>
                    <li>Se crear sistemas web con <strong>Python, C#</strong></li>
                    <li>Tengo conocimientos de ASP.net core</li>
                    <li>He desarrollado aplicaciónes con Django</li>
                    <li>Conozco <strong>HTML5, CSS, Javascript, Jquery</strong></li>
                    <li>Patrones de arquitectura: <strong>MVC, MVT</strong></li>
                    <li>Manejo de herramientas: <strong>ORM, bases de datos SQL, Ajax, Json, Http requests</strong></li>
                    <li>Integracion de la API de spigot para desarrollar plugins en <strong>Java</strong> para minecraft</li>
                </ul>
                Otros conocimientos que tengo son: <strong>Java, c++, c, WordPress, manejo basico de servidores linux</strong>
            </p></div>
        </div>
        <!-- About Section Button-->
    </div>
</section>