{% load static %}

<section class="page-section text-black mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-black">About me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-black">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">
                My name is Cristian Alvarez, with 3 years of experience developing data solutions as data pipelines and ETL's from scratch, reports and dashboards with important insights into the business and maintaining data warehouses.
                <br>
            </p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">
                Here are some of the stuff and tools that i know:
                <ul>
                    <li>Dashboards and reports with <strong>Tableau, SSRS, Power BI</strong></li>
                    <li>Data modeling and cleansing with <strong>Python</strong></li>
                    <li>Data pipelines <strong>Prefect, Airflow, PySpark</strong></li>
                    <li>Warehousing <strong>Teradata, Snowflake</strong></li>
                    <li>Strong knowledge in <strong>SQL</strong> queries to data analysis and ETL's</li>
                    <li>Web development <strong>Python Django</strong></li>
                </ul>
                Other tools that I've worked on: <strong>Docker, Pandas, BI Publisher, Java, c++, c, linux shell</strong>
            </p></div>
        </div>
        <!-- About Section Button-->
    </div>
</section>