{% load static %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            {% for Project in Projects %}
                <div class="col-md-6 col-lg-4 mb-5">
                    <h6 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">{{Project.name}}</h6>
                    <div class="portfolio-item mx-auto mt-2" data-toggle="modal" data-target="#Project_{{Project.pk}}_Modal">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'Core/assets/img/portfolio/' %}{{Project.name}}.jpg" alt="{{Project.name}}" onError="this.onerror=null;this.src='{% static "Core/assets/img/portfolio/default.png" %}';">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>



<!-- Portfolio Modals-->
    {% for Project in Projects %}
        <div class="portfolio-modal modal fade" id="Project_{{Project.pk}}_Modal" tabindex="-1" role="dialog" aria-labelledby="Project_{{Project.pk}}_ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="Project_{{Project.pk}}_ModalLabel">{{Project.name}}</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5 w-75" src="{% static 'Core/assets/img/portfolio/' %}{{Project.name}}.jpg" alt="{{Project.name}}" onError="this.onerror=null;this.src='{% static "Core/assets/img/portfolio/default.png" %}';">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">{{Project.description|safe}}</p>
                                    {% if Project.link != null %}
                                    <p><a href="{{Project.link}}" target="_blank" rel="noopener noreferrer">Más información</a></p>
                                    {% endif %}
                                    <p class="mb-3">Actualizado: {{Project.updated}}</p>
                                    <button class="btn btn-primary mb-5" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}